<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>

    </head>
    <body>
        <nav class="navbar navbar-inverse" th:fragment="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">Geneeriset Uutiset</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:inline="text" href="/news/category/Uudet">Uudet</a></li>
                        <li><a th:inline="text" href="/news/category/Vanhat">Vanhat</a></li>
                        <li><a th:inline="text" href="/news/category/Hyvät">Hyvät</a></li>
                        <li><a th:inline="text" href="/news/category/Huonot">Huonot</a></li>
                        <li><a th:inline="text" href="/news/category/Jännät">Jännät</a></li>
                        <li><a th:inline="text" href="/news/category/Tylsät">Tylsät</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:align="right" sec:authorize="hasRole('ADMIN')"><a th:href="@{/control}">Hallintapaneeli</a></li>
                        <li th:align="right" sec:authorize="isAnonymous()"><a th:action="GET" th:inline="text" href="/login">Login</a></li>
                        <li th:align="right" sec:authorize="isAuthenticated()"><a th:action="POST" th:inline="text" href="/logout">Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
