<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Geneeriset Uutiset</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar">...</div>

        <div style="width:800px; margin:0 auto;">
            <table>
                <tr>
                    <th>Klikkaa otsikkoa editoidaksesi</th>
                    <th></th>
                </tr>

                <tr th:each="article : ${news}">
                    <td><a th:href="@{/edit/{article}(article=${article.id})}" th:text="${article.title}">otsikko</a></td>
                    <td><form th:action="@{/news/{article}(article=${article.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form></td>
                </tr>
            </table>

            <div>
                <font color="red">
                    <span th:text="${message}"></span>
                </font>    
            </div>

            <h2>Lisää uutinen:</h2>

            <form action="/news/new" method="POST" enctype="multipart/form-data">
                <br></br>
                Otsikko:<input type="text" name="title"/>
                <br></br>
                Kirjoittaja (lisää useampia pilkulla eroteltuna):<input type="text" name="authorNames"/>
                <br></br>
                Ingressi:<input type="text" name="ingress"/>
                <br></br>
                Sisältö:
                <textarea name="content" rows="10" cols="30">







                </textarea>
                <br></br>
                Kategoria:
                <select name="categoryNames" size="6" multiple>
                    <option value="Uudet">Uudet</option>
                    <option value="Vanhat">Vanhat</option>
                    <option value="Hyvät">Hyvät</option>
                    <option value="Huonot">Huonot</option>
                    <option value="Jännät">Jännät</option>
                    <option value="Tylsät">Tylsät</option>
                </select>
                <br></br>
                Lisää kuva:    <input type="file" name="picture"/>
                <br></br>
                <input type="submit" value="Julkaise"/>
            </form>
        </div>
    </body>
</html>
