<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Geneeriset Uutiset</title>
    </head>

    <body>
        <ul>
            <li th:each="category : ${categories}">
                <ul>
                    <li><a th:href="@{/news/category/{category}(category=${category.id})}" th:text="${category.name}">category</a></li>
                </ul>
            </li>
        </ul>

        <h1>Hallintapaneeli</h1>

        <table>
            <tr>
                <th>Klikkaa otsikkoa editoidaksesi</th>
                <th></th>
            </tr>

            <tr th:each="article : ${news}">
                <td><a th:href="@{/edit/{article}(article=${article.id})}" th:text="${article.title}">otsikko</a></td>
                <td><form th:action="@{/news/{article}(article=${article.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form></td>
            </tr>
        </table>


        <h2>Lisää uutinen:</h2>

        <form action="/news/new" method="POST">
            <span>Otsikko</span>
            Otsikko:<input type="text" name="title"/>
            Kirjoittaja (lisää useampia pilkulla eroteltuna):<input type="text" name="author"/>
            Ingressi:<input type="text" name="ingressi"/>
            Sisältö:<input type="text" name="content"/>
            Kategoria (lisää useampia pilkulla eroteltuna):<input type="text" name="category"/>
            Lisää kuva: <input type="text" name="title"/>
            <input type="submit" value="Julkaise"/>
        </form>
    </body>
</html>
