<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Geneeriset Uutiset</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar">...</div>
        <div style="width:800px; margin:0 auto;">

            <h1>Geneeriset Uutiset</h1>
            <h2><span th:text="${filteringTitle}"/></h2>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>

                <tr th:each="article : ${news}">
                    <td><a th:href="@{/news/{article}(article=${article.id})}" th:text="${article.title}">otsikko</a></td>
                    <td><a th:href="@{/news/{article}(article=${article.id})}" th:text="${article.published}">published</a></td>
                </tr>
            </table>

            <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
