<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Geneeriset Uutiset</title>
        <link href="css/style.css" rel="stylesheet"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar">...</div>
        <div style="width:800px; margin:0 auto;">

            <h1>Geneeriset Uutiset</h1>
            <h2><span th:text="${filteringTitle}"/></h2>

            <ul th:each="article : ${news}">
                <li><a th:href="@{/news/{article}(article=${article.id})}" th:text="${article.title}">otsikko</a></li>
                <li><a th:href="@{/news/{article}(article=${article.id})}" th:text="${article.published}">published</a></li>
            </ul>


        </div>
    </body>
</html>
