<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Geneeriset Uutiset</title>
    </head>

    <body>
        <ul>
            <li th:each="category : ${categories}">
                <ul>
                    <li><a th:href="@{/news/category/{category}(category=${category.id})}" th:text="${category.name}">category</a></li>
                </ul>
            </li>
        </ul>

        <h1>Geneeriset Uutiset</h1>

        <table>
            <tr>
                <th>Otsikot</th>
                <th></th>
            </tr>

            <tr th:each="article : ${news}">
                <td><a th:href="@{/news/{article}(article=${article.id})}" th:text="${article.title}">otsikko</a></td>
                <!--                <div th:if="${article.picture != null}">
                                    <img th:src="@{/picture/{id}(id=${article.picture})}"/>
                                </div>-->
                <td><form th:action="@{/news/{article}(article=${article.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form></td>
            </tr>
        </table>


        <a th:href="@{/control}">Hallintapaneeliin</a>
    </body>
</html>
