<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Geneeriset Uutiset</title>
    </head>

    <body>
        <h1>Geneeriset Uutiset</h1>

        <table>
            <tr>
                <th>Otsikot</th>
                <th></th>
            </tr>

            <tr th:each="article : ${news}">
                <td><a th:href="@{/news/{article}(article=${article.id})}" th:text="${article.title}">otsikko</a></td>
                <td><form th:action="@{/news/{article}(article=${article.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form></td>
            </tr>
        </table>


        <h2>Lisää uutinen:</h2>

        <form action="/news/new" method="POST">
            <span>Otsikko</span>
            <input type="text" name="title"/>
            <input type="submit" value="Add!"/>
        </form>
    </body>
</html>
